body {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
}

p {
	color: black;
	font-weight: 300;
}

dl dt {
	font-weight: 300;
}

dl dd {
	font-weight: 200;
}

dl dd strong {
	font-family: 'Lato', sans-serif;
}

hr	{
	border-color: #F05F40;
}

.profile {
	background-color: #F05F40;
	padding: 10px 0;
}

.bg-red {
	background-color: #F05F40;
}

.bg-white {
	background-color: white;
}

.fa-github {
 color: #FFFFFF;
 font-size: 3em;
}

.panel-default > .panel-heading {
	text-align: center;
	background-color: #F05F40;
	color: white;
}

.light-300 {
	font-weight: 300;
}

.thin-100 {
	font-weight: 100;
}

.normal-400 {
	font-weight: 400;
}

.bold-700 {
	font-weight: 700;
}

.bold-900 {
	font-weight: 900;
}

.font-size-50 {
	font-size: 50px;
}

.font-size-14 {
	font-size: 14px;
}

.letter-spacing-10 {
	letter-spacing: 10px;
}

.letter-spacing-5 {
	letter-spacing: 5px;
}